*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'Lato', sans-serif;
    // font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

p{
    margin-bottom: 0;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    display: none;
}

.carousel-indicators{
    display: none;
}

.carousel-control-prev, .carousel-control-next{
    display: none;
}